@import url(./reset.css);
@import url(./fonts.css);

:root {
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
button {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
