@import url(./reset.css);
@import url(./fonts.css);

:root {
  --primary-color: #4a3aff;
  --primary-color-opacity15: rgba(74, 58, 255, 0.15);
  --neutral-color-100: #ffffff;
  --neutral-color-300: #eff0f6;
  --neutral-color-400: #d9dbe9;
  --neutral-color-600: #6f6c90;
  --neutral-color-800: #170f49;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
button {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.container {
  background-color: #f7f7fb;
  display: grid;
  place-content: center;
  padding-block: 200px;
}

.center {
  text-align: center;
}

.image-ok {
  height: 144px;
  margin-bottom: 16px;
}

.wrapper-center {
  padding-top: 32px;
  display: grid;
  place-content: center;
}