@import url(./reset.css);
@import url(./fonts.css);

:root {
  --primary-color: #4a3aff;
  --primary-color-opacity15: rgba(74, 58, 255, 0.15);
  --neutral-color-100: #ffffff;
  --neutral-color-300: #eff0f6;
  --neutral-color-400: #d9dbe9;
  --neutral-color-600: #6f6c90;
  --neutral-color-800: #170f49;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
button {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  text-rendering: auto;
  font-size: 16px;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.container {
  background-color: #f7f7fb;
  display: grid;
  place-content: center;
  padding-block: 200px;
}

.form {
  background-color: white;
  border: 1px solid #eff0f7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 32px;
  padding: 32px 52px 80px 52px;
  max-width: 700px;
}

.progress {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.progress__item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.progress__item-bar {
  background-color: var(--neutral-color-300);
  border-radius: 40px;
  width: 98px;
  height: 6px;
  display: block;
}

.progress__item:last-child .progress__item-bar {
  display: none;
}

.progress__item-index {
  width: 34px;
  height: 34px;
  color: var(--neutral-color-600);
  background-color: var(--neutral-color-300);
  border-radius: 100%;
  font-size: 16px;
  display: grid;
  place-content: center;
}

.progress__item--active .progress__item-index,
.progress__item--complete .progress__item-index {
  background-color: var(--primary-color);
  color: var(--neutral-color-100);
}

.progress__item--active .progress__item-bar::before,
.progress__item--complete .progress__item-bar::before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 40px;
  background-color: var(--primary-color);
}

.progress__item--complete .progress__item-bar::before {
  width: 100%;
}

.form__divider {
  border: none;
  height: 1px;
  background-color: var(--neutral-color-400);
  margin: 0;
}

.form__content {
  margin-top: 64px;
}

.form__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  color: var(--neutral-color-800);
}

.form__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--neutral-color-600);
}

.form__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 28px;
  row-gap: 44px;
}

.form__item {
  display: grid;
  row-gap: 18px;
  width: 284px;
}

.form__item-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: var(--neutral-color-800);
}

.form__item-input {
  background-color: var(--neutral-color-100);
  border: 1px solid var(--neutral-color-300);
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
}

.form__item-input input[type='text'] {
  border: none;
  color: var(--neutral-color-600);
  font-size: 18px;
  line-height: 20px;
  width: 100%;
}

.form__item-input::after {
  content: '';
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.form__item-input--name::after {
  background-image: url(../icons/name.svg);
}

.form__item-input--email::after {
  background-image: url(../icons/mail.svg);
}

.form__item-input--phone::after {
  background-image: url(../icons/phone.svg);
}

.form__item-input--company::after {
  background-image: url(../icons/company.svg);
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

input[type='radio'] + label,
input[type='checkbox'] + label {
  cursor: pointer;
  background: var(--neutral-color-100);
  border: 1px solid var(--neutral-color-300);
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 2px solid transparent;
}

input[type='checkbox'] + label::before {
  content: '';
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background-color: var(--primary-color-opacity15);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px;
}

input[type='radio'] + label::before {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: var(--neutral-color-100);
  border: 1px solid var(--neutral-color-400);
  box-shadow: inset 0px -3px 7px rgba(20, 20, 43, 0.08);
}

input[type='radio']:checked + label::before {
  content: '';
  background: var(--neutral-color-100);
  border: 7px solid var(--primary-color);
  box-shadow: inset 0px -3px 7px rgba(20, 20, 43, 0.08);
}

.form__item-label--development::before {
  background-image: url(../icons/development.svg);
}

.form__item-label--web_design::before {
  background-image: url(../icons/web-design.svg);
}

.form__item-label--marketing::before {
  background-image: url(../icons/marketing.svg);
}

.form__item-label--other::before {
  background-image: url(../icons/other.svg);
}

input[type='radio']:checked + label,
input[type='checkbox']:checked + label {
  border: 2px solid var(--primary-color);
  box-shadow: 0px 2px 11px rgba(69, 65, 164, 0.06),
    0px 4px 10px rgba(31, 37, 89, 0.07);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  cursor: pointer;
  width: fit-content;
  padding: 20px 40px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 56px;
}

.button--primary {
  border: none;
  font-weight: bold;
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  color: var(--neutral-color-100);
  background: var(--primary-color);
}

.button--secondary {
  background-color: var(--neutral-color-100);
  font-weight: normal;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.center {
  text-align: center;
  margin: 0 auto;
}

.image-ok {
  height: 144px;
  margin-bottom: 16px;
}

.button--submit {
  margin-top: 32px;
}
